<!DOCTYPE html>
<html>
<head>
  <title>Data Science API - The Bridge</title>
</head>
<h1>Data Science API is online</h1>
<body>
  <li>The available endpoints are the following:</li>
  <li></li>
  <li><a href="https://data-bridge-2022.herokuapp.com/getForm/">https://data-bridge-2022.herokuapp.com/getForm/</a></li>
  <li><a href="https://data-bridge-2022.herokuapp.com/getRanking/">https://data-bridge-2022.herokuapp.com/getRanking/</a></li>
  <li><a href="https://data-bridge-2022.herokuapp.com/getStats/">https://data-bridge-2022.herokuapp.com/getStats/</a></li>
  <li></li>
  <li><a href="https://data-bridge-2022.herokuapp.com/postCompany/">https://data-bridge-2022.herokuapp.com/postCompany/</a></li>
  <li><a href="https://data-bridge-2022.herokuapp.com/postUser/">https://data-bridge-2022.herokuapp.com/postUser/</a></li>
  <li><a href="https://data-bridge-2022.herokuapp.com/postAnswers/">https://data-bridge-2022.herokuapp.com/postAnswers/</a></li>
  <li></li>
  <li>Please note:</li>
  <li>The POST endpoints DO NOT write in the database yet.</li>
</body>
</html>